
body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
header {
  color: #1c1c1c;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}
header .header-content {
    color:#1c1c1c;
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  color:#1c1c1c;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
  color:#1c1c1c;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: #1c1c1c;
  font-size: 16px;
  margin-bottom: 50px;
}
