<h1 class="page-header">Edit Listing</h1>

<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<div >
  <form (submit)="updateListingSubmit()" *ngIf="!loading">
    <div class="form-group">
      <label for="title">Title</label>
      <input [disabled]="processing" type="text" name="title" placeholder="Listing Title" class="form-control" [(ngModel)]="listing.title" />
    </div>

    <div class="form-group">
      <label for="body">Body</label>
      <textarea name="body" cols="80" rows="8" [(ngModel)]="listing.body" class="form-control" placeholder="Listing Body"></textarea>
    </div>

    <a [routerLink]="['/delete-listing/', listing._id]"><button [disabled]="processing" type="button" name="button" class="btn btn-danger">Delete</button></a>
    <button type="button" name="button" class="btn btn-success" (click)="goBack()">Go Back</button>
    <button type="submit" name="save" class="btn btn-info" [disabled]="processing">Save Changes</button>
  </form>
</div>