<h1 class="page-header">Register Page</h1>

<form [formGroup]="form" (submit)="onRegisterSubmit()" >
    <div class="form-group">
        <label for="username">Username</label>
        <div [ngClass]="{'has-error': (form.controls.username.errors && form.controls.username.dirty), 'has-success': !form.controls.username.errors}">
            <input type="text" name="username" class="form-control" autocomplete="off" placeholder="*Username"  formControlName="username">
            <ul class="help-block">
                <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">This field is required</li>
                <li *ngIf="form.controls.username.errors?.minlength || form.controls.username.errors?.maxlength">Minimum Characters: 3, Maximum Characters: 15</li>
                <li *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">Username must not contain any special characters</li>
            </ul>
        </div>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty), 'has-success': !form.controls.email.errors}" >
            <input type="text" name="email" class="form-control" autocomplete="off" placeholder="*Email" formControlName="email">
            <ul class="help-block">
                <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</li>
                <li *ngIf="(form.controls.email.errors?.minlength || form.controls.email.errors?.maxlength)">Minimum Characters: 5, Maximum Characters: 30</li>
                <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">This must be a valid email</li>
            </ul>
        </div>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}">
            <input type="text" name="password" class="form-control" autocomplete="off" placeholder="*Password" formControlName="password">
            <ul class="help-block">
                <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required</li>
                <li *ngIf="form.controls.password.errors?.minlength || form.controls.password.errors?.maxlength">Minimum Characters: 8, Maximum Characters: 35</li>
                <li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Password must contain: 1 uppercase, 1 lowercase & 1 special character</li>
            </ul>
        </div>
    </div>

    <div class="form-group">
        <label for="confirm">Confirm Password</label>
        <div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
            <input type="text" name="confirm" class="form-control" autocomplete="off" placeholder="*Confirm Password" formControlName="confirm">
            <ul class="help-block">
                <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required</li>
                <li *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Passwords do not match</li>
            </ul>
        </div>
    </div>

    <input [disabled]="!form.valid" type="submit" class="btn btn-success" value="Register" >
</form>